logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.g8
gradlew
gradlew.bat
gradle
public/javascripts/frontend-scala.js
public/javascripts/frontend-fastopt.js.map
public/javascripts/frontend-fullopt.js.map